body {
    background-color: #F0F0F0;
}

#footer {
    bottom: 0;
    height: 30;
    /*right: 0%;*/
    /*left: 0%;*/
    position: fixed;
    /*position: absolute;*/
    width: 100%;
    /*text-align: left;*/
    /*visibility: visible;*/
}