body {
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #F0F0F0;
    /*background-image: url(https://i.imgur.com/cBq0L24.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;*/
}



#changePasswordArea {
    /*visibility: visible; */
    position: absolute;
}

.mdl-card {
    /*background: #2db34a;*/
    transition-property: background, border-radius;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transition: all .2s linear;
    margin: 10px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.mdl-card:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0 60px 60px 0;
    transform: translateZ(28px);
    z-index: 5000;
}
