body {
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    /*background-image: url(https://i.imgur.com/cBq0L24.jpg);*/
    /*background-position: center;*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
}



#verifyEmailArea {
    /*visibility: visible; */
    position: absolute;
}


@keyframes bp {
    from {
        background-position: 198px 0;
    }
    to {
        background-position: 0 198px;
    }
}


/*
.mdl-textfield--floating-label input[type=email]:-webkit-autofill ~ label {
  transform: translate3d(0, -20px, 0);
  visibility: hidden;
}

.mdl-textfield--floating-label input[type=email]:-webkit-autofill ~ label:after {
  /*content: 'Password';*/

@media only screen and (max-width: 1026px) {
    body {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        background-color: #F0F0F0;
        /*background-image: url(https://i.imgur.com/cBq0L24.jpg);*/
        /*background-position: center;*/
        /*background-size: cover;*/
        /*background-repeat: no-repeat;*/
        /*animation: 4s linear 0s infinite bp;*/
    }
}